* {
    box-sizing: border-box;
    outline:none;
    border-collapse: collapse;


}

body,html {
    background-size: cover;
    font-family: Arial, serif;
    height:100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    vertical-align: baseline;
    
}

.header {
    height: 80px;
    width: 100%;
    min-width: 850px;
    z-index: 1;
    
}

.title {
    float: left;
    margin: 0px 30px;
    font-size: 55px;
}

.main-wrapper {
    min-width: 850px;
    max-width: 1400px;
/*    height:auto !important;*/
/*    height:100%;*/
/*    min-height:100%;*/
    margin: 0 auto;
    position: relative;

}



