.container {
    max-width: 1400px;
    min-width: 800px;
}


/*столбцы основной таблицы*/

.date-column {
    width: 130px;
    position: relative;

}


.base-directory-column {
    min-width: 48px;
    max-width: 748px;
    position: relative;
}

.num-of-dir-column {
    width: 100px;
}

.num-of-files-column {
    width: 70px;

}

.total-size-of-files-column {
    width: 135px;
}

.list-of-files-column {
    width: 75px;
}

.delete-directory-column {
    width: 25px;
}



.base-directory-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    width: 95%;
    bottom: 9px;
}




/*модальное окно*/

.modal-content {
    min-height: 200px;
    height: 70vh;
    min-width: 350px;

}

.modal-body {
    overflow-y: auto;
}

.modal-header {
    min-height: 50px;
}

.modal-body thead {
    background: #bebebe;
}

.file-column {
    position: relative
}

.file-column_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    width: 95%;
    bottom: 9px;
}

.size-column {
    width: 110px;
}





/*кнопка смены порядка следования строк таблицы*/
.table-sorting-order {
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 0;
    top: 22px;
    right: 38px;
    opacity: 0;
    border: 0;
}


