<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Директории и файлы</title>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div class="header">
    <div class="title">Директории и файлы</div>
</div>
<div class="main-wrapper">
    <div class="page-body">
        <div class="line-of-adding">
            <label for="input-new-dir">Новая директория</label>
            <input type="text" class="input_new-dir" id="input-new-dir" placeholder="Добавить директорию..">
            <button type="button">Добавить в список</button>
        </div>

        <div class="list-of-dir-and-files-wr">
            <div class="list-title-wr">
                <div class="list-title">Список директорий и файлов</div>
            </div>

            <div class="table-of-dir-and-files">

                <table border="1">

                    <thead>
                    <tr >
                        <th class="date-column">Дата</th>
                        <th class="base-directory-column">Базовая директория</th>
                        <th class="num-of-dir-column">Директорий</th>
                        <th class="num-of-files-column">Файлов</th>
                        <th class="total-size-of-files-column">Суммарный размер файлов</th>
                        <th class="list-of-files-column"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <!--<tr>-->
                    <!--<td class="date-column">14.09.2016 18:03</td>-->
                    <!--<td class="base-directory-column">/opt/tomcat/temp</td>-->
                    <!--<td class="num-of-dir-column">12</td>-->
                    <!--<td class="num-of-files-column">251</td>-->
                    <!--<td class="total-size-of-files-column">128 Mb</td>-->
                    <!--<td class="list-of-files-column">-->
                    <!--<button type="button">Файлы</button>-->
                    <!--</td>-->
                    <!--</tr>-->

                    </tbody>
                </table>

            </div>
        </div>


    </div>
</div>
<div class="footer"></div>

</body>
</html>